@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800&display=swap");

@font-face {
  font-family: "Golos";
  src: url("./fonts/GolosText-Bold.woff") format("woff"),
    url("./fonts/GolosText-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hauora Sans";
  src: url("./fonts/hauora-sans-latin-400-normal.woff") format("woff"),
    url("./fonts/hauora-sans-latin-400-normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hauora Sans";
  src: url("./fonts/hauora-sans-latin-600-normal.woff") format("woff"),
    url("./fonts/hauora-sans-latin-600-normal.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hauora Sans";
  src: url("./fonts/hauora-sans-latin-700-normal.woff") format("woff"),
    url("./fonts/hauora-sans-latin-700-normal.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hauora Sans";
  src: url("./fonts/hauora-sans-latin-800-normal.woff") format("woff"),
    url("./fonts/hauora-sans-latin-800-normal.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  background: #0d111b !important;
}

a {
  color: inherit;
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-bottom: 0 !important;
  padding-left: 0;
  display: inline-flex;
}

h1 {
  font-family: "Inter";
  font-weight: 800;
  font-size: 56px;
  line-height: 61px;
  color: #ffffff;
}

h2 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 42px;
  line-height: 43px;
  color: #ffffff;
}

h3 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

button {
  border: 0;
  cursor: pointer;
}
